@model List<Categoria>
@{
    Layout = "AdminLayout";
}

<div class="container-fluid">

    <div class="d-flex my-5">
        <h5>Categorias</h5>
        <a href="categorias/create" class="btn btn-primary ms-auto">+ @Localizer["New Category"]</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Image"]</th>
                <th>Id</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Total Products"]</th>
                <th>@Localizer["Attributes"]</th>
                <th>@Localizer["Featured"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model)
            {


                <tr>
                    <td style="height: 100px; width: 100px;align-content:center;">

                        @if (string.IsNullOrEmpty(c.ImagenNombre))
                        {
                            <span>@Localizer["No Image"]</span>
                        }
                        else
                        {
                            <img src="~/Imagenes/Categorias/@c.ImagenNombre" style="height:100px;width:100px;object-fit:contain" />
                        }

                    </td>
                    <td>@c.Id</td>
                    <td>@c.@Localizer["Name"]</td>
                    <td>@c.Productos?.Count()</td>
                    <td>@c.Atributos?.Count()</td>
                    <td>
                        <div class="form-check form-switch">
                            @if (c.MostrarEnInicio)
                            {
                                <input onchange="FeaturedChanged(this)" class="form-check-input" data-categoria-id="@c.Id"
                                       type="checkbox" role="checkbox" checked id="Featured-@c.Id">
                            }
                            else
                            {
                                <input onchange="FeaturedChanged(this)" class="form-check-input" data-categoria-id="@c.Id"
                                       type="checkbox" role="checkbox" id="Featured-@c.Id">
                            }
                        </div>
                    </td>
                    <td class="align-content-center"><button class="btn btn-light border">@Localizer["See details"]</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>function FeaturedChanged(e) {

        let categoriaId = e.dataset.categoriaId;
        let checked = e.checked;

        e.disabled = true;

        $.ajax({
            url: '/Categoria/Feature',
            method: 'POST',
            data: { categoriaId: categoriaId, featured: e.checked },
            success: function (result) {
                ShowToast("", result.msg);
            },
            error: function (result) {
                ShowToast(result);
                console.log(result);
            },
            statusCode: {
                401: function () {
                    location.href = "/login"
                }
            }
        })

        if (checked === false) {
            e.removeAttribute("checked");
        } else {
            e.setAttribute("checked", "");
        }

        setTimeout(function () {
            document.getElementById(e.id).disabled = false;
        }, 3000)
    }</script>