@model List<Marca>
@{
    Layout = "AdminLayout";
}

<div class="container-fluid">

    <div class="d-flex my-5">
        <h5>@Localizer["Brands"]</h5>
        <a class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#modalCreate">+ @Localizer["New Brand"]</a>

        <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">@Localizer["New Brand"]</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Localizer["Close"]"></button>
                    </div>
                    <div class="modal-body">
                        <form id="form-marca">
                            <div>
                                <label for="nombre">@Localizer["Name"]</label>
                                <input class="form-control mb-2" id="nombre" name="nombre" type="text" />
                            </div>
                            <div>
                                <span id="error" class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button onclick="CreateMarca()" type="button" class="btn btn-primary me-2">@Localizer["Save"]</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Total Products"]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr>
                    <td>@m.Id</td>
                    <td>@m.Nombre</td>
                    <td>@m.Productos?.Count()</td>
                    <td class="d-flex">
                        <button data-marca-id="@m.Id" class="btn btn-danger ms-auto me-5" type="button" onclick="DeleteMarca(this)">
                            <i class="bi bi-trash3"></i>
                            @Localizer["Delete"]
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>function CreateMarca() {

        let form = new FormData(document.getElementById('form-marca'));
        let nombre = Object.fromEntries(form).nombre;

        $.ajax({
            url: '/Marca/CreateMarca',
            method: 'post',
            data: { nombre: nombre },
            dataType: 'json',
            statusCode: {
                200: () => { location.href = "/admin/marcas" },
                400: (data) => {
                    let error = data.responseJSON.error;
                    document.getElementById("error").innerText = error;
                }
            }
        })
    }</script>

<script>

    function DeleteMarca(e) {

        $.ajax({

            url: '/Marca/DeleteMarca',
            method: 'post',
            data: { marcaId: e.dataset.marcaId },
            success: () => {
                location.reload();
                ShowToast("Success", "Marca eliminada");
            },
            error: () => { ShowToast("", "error"); }
        })

    }
</script>