@model List<Producto>

@{
    Layout = "AdminLayout";
}
<body class="bg-light" style="min-height:500px;">

    <div class="container-fluid">

        <div class="d-flex py-5 me-3">
            <h5>Productos @Model.Count</h5>
            <a href="/Producto/CrearProducto" class="btn btn-primary h-50 d-flex ms-auto">+ Nuevo Producto</a>
        </div>

        <ul class="list-unstyled bg-white">
            @if (Model.Any())
            {
                foreach (var p in Model)
                {
                    <li id="@p.Id" class="border mx-auto">
                        <div class="d-lg-flex align-items-center py-3">
                            <div class=" ms-5">
                                <img src="~/Imagenes/Productos/@p.Imagenes!.First().ImagenNombre"
                                     style="height:200px;width:200px;"
                                     class="object-fit-contain " />
                            </div>
                            <div class="ms-4 d-flex flex-column">
                                <div class="mb-3">
                                    <h4>Nombre: @p.Nombre</h4>

                                </div>
                                <div class="d-flex">
                                    <div class="me-4">
                                        <h6><b>Clave:</b> @p.NombreClave</h6>
                                        <h6><b>Id:</b> @p.Id</h6>
                                        <h6><b>Vendido</b> @p.VecesComprado</h6>
                                        <h6><b>Categoria:</b> @p.Categoria?.Nombre</h6>
                                    </div>
                                    <div class="me-4">
                                        <h6><b>Marca:</b> @p.Marca?.Nombre</h6>
                                        <h6><b>Rating:</b> @p.GetPuntuacionPromedio()</h6>
                                        <h6><b>Reviews:</b> @p.Reviews?.Count</h6>
                                        <h6><b>Preguntas:</b> @p.Preguntas?.Count</h6>
                                    </div>


                                </div>
                            </div>
                            <div class="d-flex flex-column ms-auto me-5">
                                <a onclick="EliminarProducto(this)" data-producto-id="@p.Id" class="btn btn-danger mb-2 del-sku"><i class="bi bi-trash3"></i> Eliminar</a>
                                <a href="/Producto/AgregarSku?productoId=@p.Id" class="btn btn-primary mb-2 ">+ Agregar Skus</a>
                                <a class="btn bg-info-subtle  mb-2"><i class="bi bi-pencil"></i> Modificar</a>
                                <a target="”_blank”" href="/@p.NombreClave" class="btn bg-body-tertiary  mb-2"><i class="bi bi-box-arrow-up-right"></i> Ver</a>
                            </div>
                        </div>
                        @if (p.Skus != null && p.Skus.Any())
                        {
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(p.Id)" aria-expanded="true" aria-controls="collapseOne">
                                            <p class="my-0 w-100 text-center fw-semibold">Skus @p.Skus.Count</p>
                                        </button>
                                    </h2>
                                    <div id="collapse@(p.Id)" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                        <div class="accordion-body p-0">
                                            <ul class="list-unstyled">
                                                @foreach (var s in p.Skus)
                                                {
                                                    <li id="@s.Id" class="d-flex border p-3 align-items-center">

                                                        <div class="d-flex w-100">

                                                            @if (s.Imagenes != null && s.Imagenes.Any())
                                                            {
                                                                <div class="me-3">
                                                                    <img src="~/Imagenes/Productos/@s.Imagenes.First().ImagenNombre" class="object-fit-contain" style="height:150px;width:150px;" />
                                                                </div>
                                                            }

                                                            <div class="me-3">
                                                                <h5 class="mb-2">@s.Nombre</h5>
                                                                <div class="d-flex">
                                                                    <div class="me-3">

                                                                        <h6><strong>Id:</strong> @s.Id</h6>
                                                                        <h6><strong>Sku:</strong> @s.Key</h6>
                                                                        <h6><strong>Precio:</strong> @s.Precio</h6>
                                                                        @if (s.Stock > 0)
                                                                        {
                                                                            <h6 class="text-success"><strong>Stock:</strong> @s.Stock</h6>
                                                                        }
                                                                        else
                                                                        {
                                                                            <h6 class="text-danger"><strong>Sin Stock</strong></h6>
                                                                        }
                                                                    </div>

                                                                    <div class="">
                                                                        @if (s.AtributosValores is not null && s.AtributosValores!.Any())
                                                                        {
                                                                            @foreach (var a in s.AtributosValores)
                                                                            {
                                                                                <p class="p-0 m-0"><strong>@a.Atributo?.Nombre:</strong>@a.Valor</p>
                                                                            }
                                                                        }
                                                                    </div>

                                                                </div>
                                                            </div>


                                                            <div class="ms-auto d-flex flex-column me-4">
                                                                <a onclick="EliminarSku(this)" data-sku-id="@s.Id" data-pro-id="@s.ProductoId" class="btn btn-danger mb-3"><i class="bi bi-trash3"></i> Eliminar</a>
                                                                <a href="/@s.Key" target="_blank" class="btn btn-light"><i class="bi bi-box-arrow-up-right"></i> Ver</a>
                                                            </div>
                                                        </div>

                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </li>
                }
            }
        </ul>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>async function EliminarSku(e) {

            let skuId = e.dataset.skuId;

            const response = await fetch("/Producto/EliminarSkuProducto", {

                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                credentials: 'include',
                body: JSON.stringify(skuId)
            }).then((response) => {
                if (response.ok) {
                    document.getElementById(skuId).remove();
                    ShowToast('', "Eliminado")
                } else {
                    return response.json();
                }
            }).then((responseJson) => {
                if (responseJson) {
                    ShowToast('error', responseJson.error)
                }
            })

        }</script>

    <script>async function EliminarProducto(e) {

            let productoId = e.dataset.productoId;

            const response = await fetch("/Producto/EliminarProducto", {

                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                credentials: 'include',
                body: JSON.stringify(productoId)
            }).then((response) => {
                if (response.ok) {
                    alert('Deleted');
                    location.reload();
                    ShowToast('', "Eliminado")
                } else {
                    return response.json();
                }
            }).then((responseJson) => {

                if (responseJson) {
                    ShowToast('error', responseJson.error)
                }
            })

        }</script>

</body>