@model List<Pregunta>
@{
    Layout = "AdminLayout";
}

<body class="bg-body-tertiary">

    <div class="container-fluid">

        <h5 class="my-5">Preguntas</h5>


        <select class="form-select mb-4" onchange="window.location= this.value">
            <option>Todas las preguntas</option>
            <option value="/admin/preguntas/sin responder">Sin Responder</option>
            <option value="/admin/preguntas/respondidas">Respondidas</option>
        </select>

        @if (Model != null && Model.Any())
        {

            <div class="bg-white">

                @foreach (var p in Model)
                {
                    <div class="border pt-3 pb-3 ps-5 pe-5 d-flex">
                        <div class="me-5 col-auto">
                            <a class="fs-5 link-dark" href="/@p.Producto?.NombreClave">@p.Producto.Nombre</a>
                            <img class="object-fit-contain d-block" style="height:100px;width:100%" src="~/Imagenes/Productos/@p.Producto.Imagenes!.First().ImagenNombre" />
                        </div>

                        <div class="me-5 align-content-center">
                            <h6>@p.Usuario.Nombre</h6>
                            <div class="d-flex align-items-center">
                                <h6 class="p-0 my-0 me-2">@p.Usuario.Email</h6>
                                <p class="p-0 m-0 text-secondary">@p.Fecha</p>
                            </div>

                            <p>@p.Contenido</p>

                            <div id="respuesta@(p.Id)" class="d-flex">

                                @if (p.Respuesta is not null)
                                {
                                    <p class="me-2">@p.Respuesta.Contenido</p><p class="text-secondary">@p.Respuesta.Fecha</p>
                                }
                                else
                                {
                                    <form class="d-flex" id="@p.Id">
                                        <input name="PreguntaId" type="number" value=@p.Id hidden />
                                        <textarea name="Contenido" rows="1" cols="100" maxlength="500" type="text" class="form-control me-2" style="resize:none;"></textarea>
                                        <button data-reply-id="respuesta@(p.Id)" data-form-id="@p.Id" type="button" class="btn btn-primary" onclick="AgregarRespuesta(this)">Responder</button>
                                    </form>
                                }
                            </div>
                        </div>



                    </div>
                }
            </div>

        }

    </div>

    <script>async function AgregarRespuesta(e) {

            let formData = new FormData(document.getElementById(e.dataset.formId))
            let form = Object.fromEntries(formData);

            console.log(form)

            const response = await fetch("/Admin/AgregarRespuesta", {
                headers: { "Content-Type": "application/json" },
                method: "POST",
                credentials: "include",
                body: JSON.stringify(form)
            }).then((response) => {
                if (response.ok) {
                    console.log(response)
                    return response.json();
                }
            }).then((responseJson) => {

               let respuesta = document.getElementById(e.dataset.replyId);
                respuesta.innerHTML = `<p class="me-2">${responseJson.contenido}</p>
                <p class="text-secondary">${Date.parse(responseJson.fecha)}</p>
                `;

            }).catch((error) => {
                console.log(error)
            })

        }</script>
</body>
