@model BusquedaProductoVM

<body>

    <div class="container-fluid col-sm-12 d-flex flex-column" style="">


        @if (Model.Categorias is null || !Model.Categorias.Any())
        {

            <div class="d-flex mx-auto my-auto">
                <h1 class=" container mx-auto my-auto">No se econtró ningun producto con ese nombre.</h1>
            </div>
        }
        else
        {
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3 bg-white rounded-3 fs-5">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis" href="/">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5" />
                            </svg>
                            <span class="visually-hidden">Home</span>
                        </a>
                    </li>
                    @if (Model.Categoria != null && Model.Categoria.CategoriaPadre != null)
                    {
                        <li class="breadcrumb-item" aria-current="page">
                            <a class="link-body-emphasis fw-semibold text-decoration-none" href="/c/@Model.Categoria.CategoriaPadre.Nombre">@Model.Categoria.CategoriaPadre.Nombre</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Categoria!.Nombre</li>
                    }
                    else if (Model.Categoria != null)
                    {
                        <li class="breadcrumb-item active" aria-current="page">@Model.Categoria!.Nombre</li>

                    }

                </ol>
            </nav>

            //Categorias Y Filtros
            <div class="d-lg-flex">
                <div class="flex-shrink-0 border" style="padding:50px 200px 50px 50px;">

                    @if (Model.Atributos != null && Model.Atributos.Any())
                    {
                        <h4 class="fw-bold mb-4">Filtros</h4>
                        <div>
                            <ul class="list-unstyled">

                                @foreach (var a in Model.Atributos)
                                {
                                    <li class="filtro" data-value="@a.Key-@a.Value" onclick="QuitarFiltro(this)">
                                        <a>@a.Key @a.Value</a><i class="bi bi-x"></i>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <h4 class="fw-bold mb-4">Categorias</h4>

                    <ul class="list-unstyled">
                        @foreach (var c in Model.Categorias!)
                        {
                            <li class="mb-2">
                                @if (Model.Categoria != null && c.Id == Model.Categoria.Id)
                                {
                                    <a href="/c/@c.Nombre" class="fs-5 text-decoration-none text-info">@c.Nombre</a>
                                    <div class="ps-3 mt-3">
                                        <ul class="list-unstyled">
                                            @foreach (var sc in Model.Categoria.SubCategorias)
                                            {
                                                <li class="mb-3">
                                                    @if (sc.Id == Model.Categoria.Id)
                                                    {
                                                        <a href="/c/@sc.Nombre" class="fs-5 text-decoration-none text-info">@sc.Nombre</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/c/@sc.Nombre" class="fs-5 text-decoration-none text-body">@sc.Nombre</a>
                                                    }
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a href="/c/@c.Nombre" class="fs-5 text-decoration-none text-body">@c.Nombre</a>
                                }
                            </li>
                        }
                    </ul>


                    @if (Model.Categoria != null && Model.Categoria.Atributos != null && Model.Categoria.Atributos.Any())
                    {
                        <h4 class="fw-bold mb-4">Filtros</h4>

                        <ul class="list-unstyled">
                            @foreach (var a in Model.Categoria.Atributos)
                            {
                                if (Model.Atributos == null || !Model.Atributos.Select(a => a.Key).Contains(a.Nombre.ToLower()))
                                {
                                    <li class="mb-3">
                                        <p class="fs-5 fw-semibold">@a.Nombre</p>
                                        <ul class="list-unstyled">

                                            @foreach (var v in a.Valores)
                                            {
                                                <li class="atributo">
                                                    <a data-value="@a.Nombre-@v.Valor" onclick="AgregarFiltro(this)" class="text-decoration-none text-body">@v.Valor</a>
                                                </li>

                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>

                    }
                </div>

                <div class="d-flex flex-column w-100">

                    <h4 class="d-block" style="padding-left:35%;">@Model.Skus!.Count Resultados</h4>

                    @if (Model.Skus != null && Model.Skus!.Any())
                    {
                        <div class="d-flex align-items-center col-xl-4 mx-4">
                            <h5 class="text-nowrap me-2">Ordenar por</h5>
                            <select class="form-select" onchange="OrdenarProductos(this.value)">
                                <option value="">Posicion</option>
                                <option value="1">Precio: Mayor a Menor</option>
                                <option value="2">Precio: Menor a Mayor</option>
                                <option value="3">Rating</option>
                            </select>
                        </div>

                        <div class="d-flex flex-wrap w-100">

                            @foreach (var s in Model.Skus)
                            {
                                <div id="@s.Id" class="card product-card m-3" style="height:600px;width: 400px;">
                                    <a onclick="AgregarAFavoritos(this)" class="product-like-icon" data-tip="Add to Wishlist">
                                        @if (Model.Favoritos != null && Model.Favoritos.Contains(s))
                                        {
                                            <i class="bi bi-heart-fill text-danger position-absolute end-0 p-2 fs-4 text-secondary"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-heart position-absolute end-0 p-2 fs-4 text-secondary"></i>
                                        }
                                    </a>
                                    <a href="/@s.Key" class="text-decoration-none text-reset">
                                        <img class="card-img-top" style="height:400px;min-width:100%;object-fit:contain;" src="~/Imagenes/Productos/@s.Imagenes!.ElementAt(0).ImagenNombre" alt="Producto">
                                    </a>
                                    <div class="card-body">
                                        <ul class="text-center p-0">

                                            @for (int i = 0; i < 5; i++)
                                            {
                                                if (i < s.Producto.GetPuntuacionPromedio())
                                                {
                                                    <li class="d-inline text-warning p-0 me-1"><i class="bi bi-star-fill"></i></li>
                                                }
                                                else
                                                {
                                                    <li class="d-inline text-warning p-0 me-1"><i class="bi bi-star"></i></li>
                                                }
                                            }
                                        </ul>
                                        <a href="/@s.Key" class="text-decoration-none text-reset">
                                            <h4 class="card-title text-center">@s.Nombre</h4>
                                            <p class="card-text text-center">
                                                @if (s.PrecioAnterior > 0)
                                                {<strike class="card-text text-secondary">$@(s.PrecioAnterior)</strike>}<b class="card-text text-center fs-5"> $@s.Precio</b>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>

        }

    </div>


    <script src="~/js/site.js"></script>
    <script>function AgregarFiltro(e) {

            var atr = e.getAttribute('data-value');
            var query = window.location.href.indexOf("?") !== -1 ? window.location.href + `&filtros=${atr}` : window.location.href + `?filtros=${atr}`;

            window.location.href = query;
        }</script>
    <script>function QuitarFiltro(e) {

            var urlBase = window.location.href.split("?")[0],
                param,
                query = window.location.href.indexOf("?") !== -1 ? window.location.href.split("?")[1] : "",
                atributos = [],
                atributo = encodeURI(e.getAttribute('data-value'));

            console.log(atributo);

            if (query !== "") {
                atributos = query.split("&");
                for (i = atributos.length - 1; i >= 0; i -= 1) {
                    param = atributos[i].split("=")[1];
                    if (param.toLowerCase() === atributo) {
                        atributos.splice(i, 1);
                    }
                }
                if (atributos.length) urlBase = urlBase + "?" + atributos.join("&");
            }
            window.location.href = urlBase;
            console.log(urlBase);


        }</script>
    <script>function OrdenarProductos(e) {

            var url = window.location.href,
                index = url.indexOf("orden");
            if (index !== -1) {
                var param = url.slice(index, index + 7);
                window.location.href = url.replace(param, `orden=${e}`)
            } else {
                window.location.href += url.indexOf("filtros") !== -1 || url.indexOf("query") !== -1 ? `&orden=${e}` : `?orden=${e}`
            }
        }</script>
</body>
